/* General */


/* Reset and full-screen layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

/* Title */
.title {
  position: absolute;
  top: 100px;
  padding-left: 9px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  color: white;
  z-index: 10;
  text-shadow: 3px -10px 3px rgba(0, 0, 0, 5);
  -webkit-text-stroke: 2px black;
}

/* Container for left and right halves */
.panel-row {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left and right sides */
.panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.left {
  background-image: url("assets/tryahrds.png"); /* red */
}

.right {
  background-image: url("assets/download.jpg"); /* blue */
  background-repeat: no-repeat;
  background-size: cover;
}

/* Centered content */
.content {
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}