/* General */


/* Reset and full-screen layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

/* Title */
.title {
  position: absolute;
  top: 100px;
  padding-left: 10px;
  left: calc(50% + 1px);
  transform: translateX(-50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  color: white;
  z-index: 10;
  text-shadow: 3px -10px 3px rgba(0, 0, 0, 5);
  -webkit-text-stroke: 2px black;
  white-space: nowrap; /* Prevents text wrapping */
}

.squ-gold {
  color: gold;
}

.a-half {
  position: absolute;
  top: 0;
  left: 50%; /* Center the A */
  width: 0.9em; /* Adjust as needed for your font */
  height: 100%;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  pointer-events: none;
}

.a-left {
  color: gold;
  clip-path: inset(0 0 0 -58%);
  transform: translateX(-50%);
  z-index: 2;
}

.a-right {
  color: white;
  clip-path: inset(0 0 0 49%);
  z-index: 3;
  transform: translateX(-50%)
}
/* Container for left and right halves */
.panel-row {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left and right sides */
.panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.left {
  background-image: url("../assets/tryahrds.png"); /* red */
  background-repeat: no-repeat;
  background-size: cover;
  color: gold;
  font-family: "Bebas Neue"
}

.right {
  background-image: url("../assets/download.jpg"); /* blue */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Baloo Bhaina";
}

/* Centered content */
.content {
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
}

.left .content h2 {
}

.right .content h2 {
}

.left .content h3 {
}

.right .content h3 { 
}

.left .content p {
}

.right .content p {
}

